.main {
	display: flex;
    min-height: 70vh;
	margin: 25px 0 25px 75px;
}

.main-wrapper {
	padding: 10px;
	margin-right: 75px;
    max-width: 500px;
}

.main-title {
    font-size: 70px;
}

.main-description {
    font-size: 20px;
}

.main-wrapper-product-container {
    min-width: 500px;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

@media only screen and (max-width: 1280px) {
    .main {
        flex-direction: column;
    	margin: auto 0;
    }

    .main-wrapper {
        max-width: 100%;
        text-align: center;
    	margin-right: 0;
    }

    .main-description {
        margin: 25px auto;
    }
}

@media only screen and (max-width: 768px) {
    .main-title {
        font-size: 50px;
    }
    .main-description {
        font-size: 15px;
        min-width: 250px;
    }
    .main-wrapper-product-container {
        min-width: 250px;
        padding: 0 25px;
    }
}
