.header {
    display: flex;
    justify-content: space-between;
}

.header-wrapper {
    padding: 10px;
    margin: 25px 75px;
}

.header-wrapper_link {
    color: #fff;
}

.header-icon {
    width: 50px;
    height: 20px;
    cursor: pointer;
}

.header-wrapper-icon-container {
    position: relative;
}

.cart-items {
    color: #ffa500;
    position: absolute;
    width: 10px;
    left: 28px;
    top: -3px;
}

@media only screen and (max-width: 768px) {
    .header {
        justify-content: center;
    }
}
